.users-box{
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.user-block{
    padding: 20px;
    background-color: #b7f8f3;
}
.wrap{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}
.post-card{
    margin: 5px;
    padding: 10px;
    border: 2px solid black;
    background-color: #ecafaf;
}